In [1]:
import numpy as np
import pandas as pd

file_path = "traffic_accident_2020.csv"
df = pd.read_csv(file_path, encoding='CP949')
df.head()

,발생년,발생년월일시,주야,요일,사망자수,부상자수,중상자수,경상자수,부상신고자수,발생지시도,...,사고유형,가해자법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2019,2019010100,야,화,1,0,0,0,0,부산,...,기타,중앙선 침범,교차로,교차로내,승용차,보행자,1150507.0,1685987.0,129.152465,35.157884
1,2019,2019010103,야,화,1,0,0,0,0,경기,...,정면충돌,중앙선 침범,단일로,기타단일로,승용차,승용차,943018.0,1921233.0,126.857149,37.288292
2,2019,2019010116,주,화,1,0,0,0,0,경북,...,측면충돌,안전운전 의무 불이행,교차로,교차로부근,승용차,사륜오토바이(ATV),1100414.0,1739893.0,128.609230,35.650108
3,2019,2019010119,야,화,1,0,0,0,0,대전,...,횡단중,안전운전 의무 불이행,교차로,교차로부근,승용차,보행자,989194.0,1817621.0,127.379560,36.355946
4,2019,2019010121,야,화,1,0,0,0,0,경북,...,기타,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,1127700.0,1767912.0,128.915041,35.899506

In [2]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   발생년         3233 non-null   int64
 1   발생년월일시      3233 non-null   int64
 2   주야          3233 non-null   object
 3   요일          3233 non-null   object
 4   사망자수        3233 non-null   int64
 5   부상자수        3233 non-null   int64
 6   중상자수        3233 non-null   int64
 7   경상자수        3233 non-null   int64
 8   부상신고자수      3233 non-null   int64
 9   발생지시도       3233 non-null   object
 10  발생지시군구      3233 non-null   object
 11  사고유형_대분류    3233 non-null   object
 12  사고유형_중분류    3233 non-null   object
 13  사고유형        3233 non-null   object
 14  가해자법규위반     3233 non-null   object
 15  도로형태_대분류    3233 non-null   object
 16  도로형태        3233 non-null   object
 17  가해자_당사자종별   3233 non-null   object
 18  피해자_당사자종별   3233 non-null   object
 19  발생위치X_UTMK  3233 non-null   float64
 20  발생위치Y_UTMK  3233 non-null   float64
 21  경도          3233 non-null   float64
 22  위도          3233 non-null   float64
dtypes: float64(4), int64(7), object(12)
memory usage: 581.1+ KB

,발생년,발생년월일시,사망자수,부상자수,중상자수,경상자수,부상신고자수,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
count,3233.0,3.233000e+03,3233.00000,3233.000000,3233.000000,3233.000000,3233.000000,3.233000e+03,3.233000e+03,3233.000000,3233.000000
mean,2019.0,2.019068e+09,1.03588,0.548098,0.225178,0.279307,0.043613,1.005579e+06,1.820305e+06,127.559523,36.377054
std,0.0,3.482074e+04,0.22515,1.765558,0.777163,1.090688,0.439696,7.699214e+04,1.174674e+05,0.854347,1.060132
min,2019.0,2.019010e+09,1.00000,0.000000,0.000000,0.000000,0.000000,7.561250e+05,1.470790e+06,124.723794,33.222138
25%,2019.0,2.019041e+09,1.00000,0.000000,0.000000,0.000000,0.000000,9.461720e+05,1.725952e+06,126.896384,35.527055
50%,2019.0,2.019071e+09,1.00000,0.000000,0.000000,0.000000,0.000000,9.753980e+05,1.827462e+06,127.226176,36.443029
75%,2019.0,2.019101e+09,1.00000,0.000000,0.000000,0.000000,0.000000,1.073766e+06,1.932679e+06,128.319218,37.392024
max,2019.0,2.019123e+09,6.00000,34.000000,17.000000,22.000000,15.000000,1.184860e+06,2.048977e+06,129.550265,38.437576

In [4]:
df.columns.values

array(['발생년', '발생년월일시', '주야', '요일', '사망자수', '부상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형',
       '가해자법규위반', '도로형태_대분류', '도로형태', '가해자_당사자종별', '피해자_당사자종별',
       '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도'], dtype=object)

In [5]:
df.index.values

array([   0,    1,    2, ..., 3230, 3231, 3232], dtype=int64)

In [6]:
# 불필요한 컬럼 삭제 /// axis=1 : 컬럼삭제   &   inplace=True : 원본데이터 수정
# 상관계수를 판단하고, 그에 따라 불필요/필요 여부를 판단하면 더 정확하다.
df.drop(['발생년','사고유형','가해자법규위반','발생위치X_UTMK','발생위치Y_UTMK'],axis=1,inplace=True)

In [8]:
df.describe()

,발생년월일시,사망자수,부상자수,중상자수,경상자수,부상신고자수,경도,위도
count,3.233000e+03,3233.00000,3233.000000,3233.000000,3233.000000,3233.000000,3233.000000,3233.000000
mean,2.019068e+09,1.03588,0.548098,0.225178,0.279307,0.043613,127.559523,36.377054
std,3.482074e+04,0.22515,1.765558,0.777163,1.090688,0.439696,0.854347,1.060132
min,2.019010e+09,1.00000,0.000000,0.000000,0.000000,0.000000,124.723794,33.222138
25%,2.019041e+09,1.00000,0.000000,0.000000,0.000000,0.000000,126.896384,35.527055
50%,2.019071e+09,1.00000,0.000000,0.000000,0.000000,0.000000,127.226176,36.443029
75%,2.019101e+09,1.00000,0.000000,0.000000,0.000000,0.000000,128.319218,37.392024
max,2.019123e+09,6.00000,34.000000,17.000000,22.000000,15.000000,129.550265,38.437576

In [9]:
# 컬럼명 변경
df.rename(columns={'발생년월일시':'월일시','사망자수':'사망','사상자수':'사상','중상자수':'중상','경상자수':'경상','부상신고자수':'부상',
                  '사고유형_대분류':'유형A','사고유형_중분류':'유형B','도로형태_대분류':'도로A','도로형태':'도로B',
                  '피해자_당사자종별':'피해','가해자_당사자종별':'가해'},inplace=True)
df.columns.values

array(['월일시', '주야', '요일', '사망', '부상자수', '중상', '경상', '부상', '발생지시도',
       '발생지시군구', '유형A', '유형B', '도로A', '도로B', '가해', '피해', '경도', '위도'],
      dtype=object)

In [10]:
# 컬럼 새로 추가
df['월']=df['월일시'].astype(str).str[4:6]
df['일']=df['월일시'].astype(str).str[6:8]
df['시']=df['월일시'].astype(str).str[8:]

# 월일시 > 월/일/시 로 쪼개면서 [월일시] 컬럼이 필요가 없어졌으므로 삭제한다.
df.drop(['월일시'],axis=1,inplace=True)
df.head()

,주야,요일,사망,부상자수,중상,경상,부상,발생지시도,발생지시군구,유형A,유형B,도로A,도로B,가해,피해,경도,위도,월,일,시
0,야,화,1,0,0,0,0,부산,해운대구,차대사람,기타,교차로,교차로내,승용차,보행자,129.152465,35.157884,01,01,00
1,야,화,1,0,0,0,0,경기,안산시,차대차,정면충돌,단일로,기타단일로,승용차,승용차,126.857149,37.288292,01,01,03
2,주,화,1,0,0,0,0,경북,청도군,차대차,측면충돌,교차로,교차로부근,승용차,사륜오토바이(ATV),128.609230,35.650108,01,01,16
3,야,화,1,0,0,0,0,대전,서구,차대사람,횡단중,교차로,교차로부근,승용차,보행자,127.379560,36.355946,01,01,19
4,야,화,1,0,0,0,0,경북,영천시,차대사람,기타,단일로,기타단일로,승용차,보행자,128.915041,35.899506,01,01,21

In [11]:
# 결측치 확인 : isnull()
missing_df = df.isnull()
missing_type = df[['피해','가해']].isnull()

missing_type.describe() # False로 null값 없음을 확인할 수 있다.

           피해     가해
count    3233   3233
unique      1      1
top     False  False
freq     3233   3233

In [ ]:
# 만약 '피해'column에 결측치가 있었다면, 어떻게 결측치가 있는 행을 삭제?
# new_df = df.dropna(subset=['피해'],axis=0)

In [12]:
# 중복없이 unique한 값출력 : unique()
# 고유값별로 데이터 개수 계산 : value_counts()
# 가장 개수가 많은 데이터 고유값 출력 : idxmax()

df['피해'].unique()
df['피해'].value_counts()
df['피해'].value_counts().idxmax()

'보행자'

In [13]:
# 데이터 정제가 끝났으면 새로운 파일로 저장
df.to_csv('traffic_accident_pre.csv')